RewriteEngine on
RewriteCond %{HTTP_HOST} ^gbcompany\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.gbcompany\.org$
RewriteRule ^youtube$ "https\:\/\/www\.youtube\.com\/channel\/UCGP0uQ1qaLyn4BMnTvVV4ig\/featured" [R=301,L]

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.gbcompany.org/$1 [R,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.html
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]
